<!--TEXT ROWS SECTION-->
<div class="col-md mx-auto px-0">
    <!--SCHOOL CAP ICON SECTION-->
    <div class="row mx-auto">
        <i class="py-3 mx-auto fas fa-graduation-cap fa-3x"></i>
    </div>

    <div class="row mx-auto">
        <p class="mx-auto text-center mb-0 p-2">
            I have taken academic courses that are the following but not limited to:
        </p>
    </div>
    <!--Data Structures and Algorithms Section-->
    <div class="row mx-auto">
        
            <p class="mx-auto text-center mb-0 p-2">
                <b> Data Structures and Algorithms</b>
            </p>
        
    </div>
    <div class="row mx-auto">
        <p class="mx-auto text-center mb-0 p-2">
            "The design and analysis of algorithms involving such data structures as arrays, stacks, queues, lists, trees, strings, graphs, and files. Techniques for estimating the time and memory requirements of computer programs."
        </p>
    </div>
    <!--Computing for the Sciences Section-->
    <div class="row mx-auto">
            <p class="mx-auto text-center mb-0 p-2">
                <b>Computing for the Sciences</b>
            </p>
    </div>
    <div class="row mx-auto">
        <p class="mx-auto text-center mb-0 p-2">
            "Essential computing skills for students in scientific disciplines. Focuses on three computational skills: (1) basic programming in a scripting language, such as Python, and knowledge of its supported data structures; (ii) facility with the UNIX operating system environment, including file structure, regular expressions, and job control; (iii) essential database skills, including accessing databases through SQL query language. "
        </p>
    </div>
    <!--Automata, Computability, and Formal Languages Section-->
    <div class="row mx-auto">
            <p class="mx-auto text-center mb-0 p-2">
                <b>Automata, Computability, and Formal Languages</b>
            </p>
    </div>
    <div class="row mx-auto">
        <p class="mx-auto text-center mb-0 p-2">
            "Finite state concepts; sequential machines and state minimization; Chomsky grammar; algorithms on grammars; computability and Turing machines; non-computable functions."
        </p>
    </div>
    <!--Theory of Algorithms Section-->
    <div class="row mx-auto">
            <p class="mx-auto text-center mb-0 p-2">
                <b>Theory of Algorithms</b>
            </p>
    </div>
    <div class="row mx-auto">
        <p class="mx-auto text-center mb-0 p-2">
            "A systematic study of the design and efficiency analysis of algorithms."
        </p>
    </div>
    <!--Software Engineering Section-->
    <div class="row mx-auto">
            <p class="mx-auto text-center mb-0 p-2">
                <b>Software Engineering</b>
            </p>
    </div>
    <div class="row mx-auto">
        <p class="mx-auto text-center mb-0 p-2">
            "Introduction to formal techniques in software design, development, and verification."
        </p>
    </div>
    <!--Artificial Intelligence Section-->
    <div class="row mx-auto">
            <p class="mx-auto text-center mb-0 p-2">
                <b>Artificial Intelligence</b>
            </p>
    </div>
    <div class="row mx-auto">
        <p class="mx-auto text-center mb-0 p-2">
            "Notational systems, structures, and strategies for their choice; search strategies; parallel vs. serial processing; communication and perception; applications in psychology, medicine, and robotics."
        </p>
    </div>
    <!--SCHOOL CREDIT SECTION-->
    <div class="row mx-auto">
            <span class="mx-auto">
                <i class="fas fa-external-link-alt fa-1x"></i>
                <p class="mx-auto text-center mb-0 p-2">
                    <a href="https://catalog.csustan.edu/content.php?filter%5B27%5D=CS&filter%5B29%5D=&filter%5Bcourse_type%5D=-1&filter%5Bkeyword%5D=&filter%5B32%5D=1&filter%5Bcpage%5D=1&cur_cat_oid=26&expand=&navoid=3075&search_database=Filter&filter%5Bexact_match%5D=1#acalog_template_course_filter" target="_blank" rel="noopener noreferrer">Class Descriptions Credit to Stan State.</a>
                </p>
            </span>
    </div>
</div>

