<!--Donation ICON SECTION-->
@*<div class="col-md-1 mx-auto my-auto py-3">
    <i class="fas fa-hand-holding-usd fa-3x"></i>
</div>*@

<!--TEXT ROWS SECTION-->
<div class="col-md mx-auto px-0">
    <!--Donation ICON SECTION-->
    <div class="row mx-auto">
        <i class="mx-auto py-3 fas fa-hand-holding-usd fa-3x"></i>
    </div>

    <div class="row mx-auto">
        <p class="mx-auto text-center mb-0 p-2">
            Below are links for you to donate towards my causes, should you wish to do so.
            Every $, no matter how big or small, helps and I can't thank you enough!
        </p>
    </div>
    <div class="row mx-auto">
        <p class="mx-auto text-center mb-0 p-2">
            Please don't donate if you are a loved one, close friend, relative, and/or future-in-law.!
        </p>
    </div>
    <!--PAYPAL ME LINK SECTION-->
    <div class="row mx-auto">
        <span class="my-4 mx-auto">
            <a href="https://paypal.me/ContactTheJeff?locale.x=en_US" target="_blank" rel="noopener noreferrer"
               class="btn cursor-pointer @(Color_Theme_Recieved == "Light" ? "light_general_text btn-outline-dark r-b-corner-dark-shadow" : "dark_general_text btn-outline-light r-b-corner-light-shadow")"
               >Via PayPal.me <i class="fas fa-external-link-alt fa-1x"></i></a>
            
            @*<p class="mx-auto text-center mb-0 p-2">
                <a href="https://paypal.me/ContactTheJeff?locale.x=en_US" target="_blank" rel="noopener noreferrer">Via PayPal.me</a>
            </p>*@
        </span>
    </div>
    <!--VENMO LINK SECTION-->
    <div class="row mx-auto">
        <span class="my-4 mx-auto">
            <a href="https://venmo.com/code?user_id=2558575947808768794" target="_blank" rel="noopener noreferrer"
               class="btn cursor-pointer @(Color_Theme_Recieved == "Light" ? "light_general_text btn-outline-dark r-b-corner-dark-shadow" : "dark_general_text btn-outline-light r-b-corner-light-shadow")"
               >Via Venmo <i class="fas fa-external-link-alt fa-1x"></i></a>

            @*<p class="mx-auto text-center mb-0 p-2">
                <a href="https://venmo.com/code?user_id=2558575947808768794" target="_blank" rel="noopener noreferrer">Via Venmo</a>
            </p>*@
        </span>
    </div>

</div>