<!--PDF MAIL ICON SECTION-->
@*<div class="col-md-1 mx-auto my-auto py-3">
        <i class="far fa-file-pdf fa-3x"></i>
    </div>*@

@inject NavigationManager NavManager

<!--TEXT ROWS SECTION-->
<div class="col-md-10 mx-auto px-0">
    <!--PDF ICON SECTION-->
    <div class="row mx-auto">
        <i class="mx-auto py-3 far fa-file-pdf fa-3x"></i>
    </div>

    <div class="row mx-auto">
        <p class="mx-auto text-center mb-0 p-2">
            Interested in capturing a copy of my background and skills?
        </p>
    </div>
    <div class="row mx-auto py-3">
        @*@onclick="ChangeSiteLogSection"*@
        <button @onclick="NavToResume" type="button" class="mx-auto btn cursor-pointer @(Color_Theme_Recieved == "Light" ? "light_general_text btn-outline-light r-b-corner-dark-shadow" : "dark_general_text btn-outline-light r-b-corner-light-shadow")">
            Show me The Resume!
        </button>
    </div>
</div>