<!--ENTER SITE ALTERATION LOGS HERE!-->

<div class="col-md-10 mx-auto px-0">
    <div class="row mx-auto">
        <p class="mx-auto text-center mb-0 p-2">
            [09/10/21] | FINISHED OVERALL STRUCTURE OF AUTO FILLING CONTACT FORM + URLDATA CHECKS]
        </p>
    </div>
    <div class="row mx-auto">
        <p class="mx-auto text-center mb-0 p-2">
            [09/09/21] | OVERCAME ROUTE PARAMETERS MESSING UP NAV MENU LINKS]
        </p>
    </div>
    <div class="row mx-auto">
        <p class="mx-auto text-center mb-0 p-2">
            [08/31/21] | COMPLETED MAJORITY OF BLAZORED PORTFOLIO APP'S STRUCTURE]
        </p>
    </div>
    <div class="row mx-auto">
        <p class="mx-auto text-center mb-0 p-2">
            [08/23/21] | STARTED FORMAL BLAZOR APP]
        </p>
    </div>
    <div class="row mx-auto">
        <p class="mx-auto text-center mb-0 p-2">
            [08/05/21] | ATTEMPTED BLAZOR PRACTICE APP]
        </p>
    </div>
    <div class="row mx-auto">
        <p class="mx-auto text-center mb-0 p-2">
            [02/05/21] | ADDED DONATION SECTION TO SITE]
        </p>
    </div>
    <div class="row mx-auto">
        <p class="mx-auto text-center mb-0 p-2">
            [11/06/20] | FIXED CONTACT PAGE'S COMPONENTS]
        </p>
    </div>
    <div class="row mx-auto">
        <p class="mx-auto text-center mb-0 p-2">
            [10/25/20 | PROUDLY UPLOADED SITE TO GITHUB]
        </p>
    </div>
</div>
