<!--TEXT ROWS SECTION-->
<div class="col-md mx-auto px-0">
    <!--HELPING ICON SECTION-->
    <div class="row mx-auto">
        <i class="py-3 mx-auto fa-3x fas fa-hands-helping"></i>
    </div>
    <!--Secretary SECTION-->
    <div class="row mx-auto">
        <p class="mx-auto text-center mb-0 p-2">
            <b>Secretary of Computer Science & Core Team Member Developer Student Club | 2018-2020</b>
        </p>
    </div>
    <div class="row mx-auto">
        <p class="mx-auto text-center mb-0 p-2">
            I assisted other fellow students and myself in personal and professional skills relevant to the field of Computer Science.
            I served to document and use attendee’s interests, experiences, & data to provide improved sense of direction for the club and assisting in future club workshops and meetings.
        </p>
    </div>
    <div class="row mx-auto">
        <div class="mx-auto text-center mb-0 p-2">
            <img class="img-fluid @(Color_Theme_Recieved == "Light" ? "outline-light-border r-b-corner-light-shadow" : "outline-dark-border r-b-corner-dark-shadow" ) "
                 src="images/landing/csc_me_img_01.jpg"
                 style="@(Color_Theme_Recieved == "Light" ? "" : " filter: brightness(80%);")" />
        </div>
    </div>
    <div class="row mx-auto">
        <p class="mx-auto text-center mb-0 p-2">
            The following are volitional duties that I have followed to aid with C.S.C's causes, which are but not limited to:
        </p>
    </div>
    <div class="row mx-auto">
        <ul class="mx-auto text-center"  style="list-style-type: none;">
            <!-- <ul> -->
            <li> Data Entry &amp; Processing, Public Relations, Team Work </li>
            <li> Enhanced Voice &amp; Writing Deliveries,  Volitional office &amp; clerical experience</li>
            <li> Responsibility Upkeeps, Public Recognitions, Peer Evaluations &amp; Brand Up-keeping</li>
            <li> Self &amp; Public Evaluations, etc.</li>
            <li> Assisting with preparations for StanHacks 1</li>
            @*<a href="https://stanhacks.tech/" title="Stan Hacks"> StanHacks 1</a></li>*@
            <li> Assisting with project curations for StanHacks 2</li>
            @*<a href="https://stanhacks.tech/" title="Stan Hacks"> StanHacks 2</a></li>*@
        </ul>
    </div>
    <!--BVT COHORT SECTION-->
    <div class="row mx-auto">
        <p class="mx-auto text-center mb-0 p-2">
            <b>ValleyWorx Code Cohorts | 2019 & 2020-2021</b>
        </p>
    </div>
    <div class="row mx-auto">
        <p class="mx-auto text-center mb-0 p-2">
            Internships in the field of Computer Science can be competitive and arduous to land in one.
        </p>
    </div>
    <div class="row mx-auto">
        <p class="mx-auto text-center mb-0 p-2">
            Fortunately, Bay Valley Tech has provided a conventional internship to greenhorns with good-hearted intentions of hoping the attendees will teach others with knowledge received from the internship.
        </p>
    </div>
    <div class="row mx-auto">
        <div class="mx-auto text-center mb-0 p-2">
            <img class="img-fluid @(Color_Theme_Recieved == "Light" ? "outline-light-border r-b-corner-light-shadow" : "outline-dark-border r-b-corner-dark-shadow" ) "
                 src="images/landing/internship_pic_img_1.jpg"
                 style="@(Color_Theme_Recieved == "Light" ? "" : " filter: brightness(80%);")" />
        </div>
    </div>
    <div class="row mx-auto">
        <p class="mx-auto text-center mb-0 p-2">
            I personally attended internships where I received further training in the following but not limited to:
        </p>
    </div>
    <div class="row mx-auto">
        <div class="col-md-2 mx-auto text-center">
            <i class="py-3 mx-auto fab fa-html5 fa-3x"></i>
            <p>
                HTML 
            </p>
        </div>
        <div class="col-md-2 mx-auto text-center">
            <i class="py-3 mx-auto fab fa-css3-alt fa-3x"></i>
            <p>
                CSS  
            </p>
        </div>
        <div class="col-md-2 mx-auto text-center">
            <i class="py-3 mx-auto fab fa-js-square fa-3x"></i>
            <p>
                Java Script
            </p>
        </div>
        <div class="col-md-2 mx-auto text-center">
            <i class="py-3 mx-auto fab fa-angular fa-3x"></i>
            <p>
                Angular 
            </p>
        </div>
        <div class="col-md-2 mx-auto text-center">
            <i class="py-3 mx-auto fab fa-bootstrap fa-3x"></i>
            <p>
                Boot Strap 
            </p>
        </div>
        <!--<ul class="mx-auto text-center" style="list-style-type: none;">-->
            <!-- <ul> -->
            <!--<li> HTML <i class="py-3 mx-auto fab fa-html5"></i></li>
            <li> CSS  <i class="py-3 mx-auto fab fa-css3-alt"></i></li>
            <li> JS <i class="py-3 mx-auto fab fa-js-square"></i></li>
            <li> Angular <i class="py-3 mx-auto fab fa-angular"></i></li>
            <li> BootStrap <i class="py-3 mx-auto fab fa-bootstrap"></i></li>
            <li> And other business and networking etiquettes for self &amp; volunteer services.</li>
        </ul>-->
    </div>
    <div class="row mx-auto">
        <p class="mx-auto text-center mb-0 p-2">
            And other business and networking etiquettes for self &amp; volunteer services.
        </p>
    </div>
</div>