/*Update these vars accordingly*/
:root {
    /*BODY COLOR VARS*/
    --light-body-color:         #BFBFBF;
    --dark-body-color:          #000000;
    /*NAVBAR COLOR VARS*/
    --nav-light-color-start:    #2f7225;
    --nav-light-color-end:      #275b1f;
    /*TEXT COLORS*/
    --general-light-text-color: #000000;
    --general-dark-text-color:  #c4bfbf;
}


/*LIGHT Color Themes*/





/*DARK Color Themes*/