@page "/"

<!--LANDING INTRODUCTION SECTION-->
<div class="col-md-11 mx-auto">
    <div class="row mx-auto">
        <!--IMAGE SECTION-->
        <!--TODO:FIX UP THIS PROTOTYPE STYLING-->
        <div class="col-md-5 mx-auto">
            @*<div style="height:90%; width:90%;">
                <img class="img-fluid" src="images/landing/landing_image_11_9_20.png" />
            </div>*@

            <div class="">
                <img class="img-fluid @(test_recieved_string == "Light" ? "outline-light-border r-b-corner-light-shadow" : "outline-dark-border r-b-corner-dark-shadow" ) " src="images/landing/landing_image_11_9_20.png" />
            </div>
            
        </div>
        <!--INTRO TEXT-->
        <div class="col-md-5 mx-auto">

        </div>
    </div>
</div>
