@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime



@*class="@(MainColorTheme == "Light" ? "light_body" : "dark_body")"*@
<body class="@(MainColorTheme == "Light" ? "light_body" : "dark_body")" style="min-height:95vh;">
    <NavMenu @bind-colorTheme="MainColorTheme" />

    <div class="container" style="padding-top:20vh; padding-bottom:20vh;">
        @Body
    </div>
</body>

<footer class="border-top footer">
        <div class="container mt-4 mb-4">
            &copy; 2019 - Blazor-Top-Menu
        </div>
    </footer>


@*<div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <div class="top-row px-4">
                <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
            </div>

            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>*@
